/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-section) var(--spacing-element);
  background: url("../img/img1.jpeg") center/cover no-repeat;
  color: var(--color-light);
  text-align: center;
  min-height: 85vh;
}

.hero__title {
  font-size: var(--font-size-title);
  margin-bottom: 1rem;
}

.hero__subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

/* Sobre Nosotros */
.about {
  padding: var(--spacing-section) var(--spacing-element);
  text-align: center;
  background: var(--color-light);
  color: var(--color-dark);
}
.about__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.about__title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about__info {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.about__image {
  width: 300px;
  border-radius: var(--radius);
}
.about__text {
  max-width: 700px;
  margin: 0 auto var(--spacing-element);
  color: var(--color-gray);
}

/* Por qué elegirnos */
.why {
  padding: var(--spacing-section) var(--spacing-element);
  text-align: center;
  background: var(--color-gray);
  color: var(--color-light);
}

.why__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.why__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--spacing-element);
  margin-bottom: var(--spacing-element);
}

.why__item {
  background: var(--color-dark);
  padding: 1.5rem;
  border-radius: var(--radius);
}

.why__subtitle {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.why__text {
  color: var(--color-light);
}

/* CTA */
.cta {
  padding: var(--spacing-section) var(--spacing-element);
  text-align: center;
  background: var(--color-secondary);
  color: var(--color-dark);
}

.cta__title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .about__info {
    flex-direction: column;
    align-items: center;
  }

  .about__image {
    width: 80%;
  }

  .why__grid {
    grid-template-columns: 1fr;
  }
}
