/* Hero pequeño */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
  min-height: 85vh;
}
.hero--small {
  min-height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/nosotros.jpg") center/cover no-repeat;
}
.hero__title {
  font-size: var(--font-size-title);
  margin-bottom: 1rem;
}
/* Detalle Sobre Nosotros */
.about-detail {
  padding: var(--spacing-section) var(--spacing-element);
  max-width: 900px;
  margin: 0 auto;
}

.about-detail__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.about-detail__text {
  margin-bottom: 1rem;
  color: var(--color-gray);
  text-align: justify;
}
/* Sobre Nosotros */
.about {
  padding: var(--spacing-section) var(--spacing-element);
  text-align: center;
  background: var(--color-light);
  color: var(--color-dark);
  margin-bottom: 10px;
}
.about__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.about__title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about__info {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  align-items: center;
}
.about__image1 {
  width: 3000px;
  border-radius: var(--radius);
  margin: 0 auto;
}

.about__image2 {
  width: 300px;
  border-radius: var(--radius);
}
.about__text {
  max-width: 700px;
  margin: 0 auto var(--spacing-element);
  color: var(--color-gray);
}
@media (max-width: 768px) {
  .about__info {
    flex-direction: column;
    align-items: center;
  }

  .about__image {
    width: 80%;
  }
}
